body{
     background-color: beige;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.course-box{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}
.course{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    gap: 5px;
    padding: 7px;
    width: 600px;
    
     


}
.navbtn{
    width: 62px;
    background-color: rgb(97, 141, 97);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
}
.navbtn:hover{
    background-color: white;
    color: green;
}
.details{
    margin-top: 0px;
}
.cr-img{
    width: 100px;
    height: 100px;
    margin-top: 8px;
}
@media only screen and (max-width: 400px) {
    .course-box{
        display: flex;
        flex-direction: column;
    }
    .course{
        width: 300px;
    }
    .navbtn{
        width: 62px;
    }
    .nav{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        gap: 4px;
        
    }
 }
 @media (min-width:400px) and (max-width:900px) {

    .course-box{
        display: flex;
        flex-direction: column;
    }
    .course{
        width: 350px;
    }
    .nav{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        gap: 4px;
        
    }
    .navbtn{
        width: 62px;
    }
}